<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rush-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1336},{665,205}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,205}}</string>
                <key>sourceSize</key>
                <string>{675,205}</string>
            </dict>
            <key>rush-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{665,205}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,205}}</string>
                <key>sourceSize</key>
                <string>{675,205}</string>
            </dict>
            <key>rush-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{665,203}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,203}}</string>
                <key>sourceSize</key>
                <string>{675,205}</string>
            </dict>
            <key>rush-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,669},{665,205}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,205}}</string>
                <key>sourceSize</key>
                <string>{675,205}</string>
            </dict>
            <key>rush-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{665,205}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,205}}</string>
                <key>sourceSize</key>
                <string>{675,205}</string>
            </dict>
            <key>rush-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{665,205}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,205}}</string>
                <key>sourceSize</key>
                <string>{675,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rushNum.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0bcb1e782aaf532b9abd7930908eedc:1/1$</string>
            <key>textureFileName</key>
            <string>rushNum.png</string>
        </dict>
    </dict>
</plist>
