<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionmovie-bomb-bottom</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,76}</string>
                <key>spriteSourceSize</key>
                <string>{126,80}</string>
                <key>textureRect</key>
                <string>{{660,889},{124,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-bomb-left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{85,93}</string>
                <key>textureRect</key>
                <string>{{959,889},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-bomb-right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{83,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,116}</string>
                <key>textureRect</key>
                <string>{{738,889},{83,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-bomb-top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,134}</string>
                <key>spriteSourceSize</key>
                <string>{95,138}</string>
                <key>textureRect</key>
                <string>{{823,913},{93,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-car</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{240,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,190}</string>
                <key>textureRect</key>
                <string>{{746,1},{240,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-car-schoolbus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{248,243}</string>
                <key>spriteSourceSize</key>
                <string>{256,251}</string>
                <key>textureRect</key>
                <string>{{501,1},{248,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-car-sports</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{248,142}</string>
                <key>spriteSourceSize</key>
                <string>{256,148}</string>
                <key>textureRect</key>
                <string>{{454,293},{248,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-flamingo-body</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{206,77}</string>
                <key>spriteSourceSize</key>
                <string>{208,85}</string>
                <key>textureRect</key>
                <string>{{721,291},{206,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-flamingo-head</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,136}</string>
                <key>spriteSourceSize</key>
                <string>{108,138}</string>
                <key>textureRect</key>
                <string>{{543,692},{108,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-flamingo-neck</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{89,102}</string>
                <key>spriteSourceSize</key>
                <string>{93,106}</string>
                <key>textureRect</key>
                <string>{{823,809},{89,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-palmtree-tall-base</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{148,278}</string>
                <key>spriteSourceSize</key>
                <string>{170,288}</string>
                <key>textureRect</key>
                <string>{{159,602},{148,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-palmtree-tall-leaves1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,230}</string>
                <key>spriteSourceSize</key>
                <string>{212,232}</string>
                <key>textureRect</key>
                <string>{{682,595},{212,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-palmtree-tall-leaves2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,183}</string>
                <key>spriteSourceSize</key>
                <string>{263,183}</string>
                <key>textureRect</key>
                <string>{{269,295},{263,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-palmtree-tall-leaves3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,152}</string>
                <key>spriteSourceSize</key>
                <string>{212,152}</string>
                <key>textureRect</key>
                <string>{{932,125},{212,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-palmtree-tall-leaves4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,166}</string>
                <key>spriteSourceSize</key>
                <string>{230,166}</string>
                <key>textureRect</key>
                <string>{{428,850},{230,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-palmtree-tall-leaves5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{914,703},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-palmtree-tall-middle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{98,266}</string>
                <key>spriteSourceSize</key>
                <string>{138,272}</string>
                <key>textureRect</key>
                <string>{{169,302},{98,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-palmtree-tall-top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{118,292}</string>
                <key>spriteSourceSize</key>
                <string>{146,300}</string>
                <key>textureRect</key>
                <string>{{156,1},{118,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-piano-keys</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,91}</string>
                <key>spriteSourceSize</key>
                <string>{256,91}</string>
                <key>textureRect</key>
                <string>{{408,1},{256,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-piano-leg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,80}</string>
                <key>spriteSourceSize</key>
                <string>{48,80}</string>
                <key>textureRect</key>
                <string>{{740,809},{48,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-piano-lid</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,18}</string>
                <key>spriteSourceSize</key>
                <string>{224,18}</string>
                <key>textureRect</key>
                <string>{{169,570},{224,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-piano-notebook</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,33}</string>
                <key>spriteSourceSize</key>
                <string>{107,33}</string>
                <key>textureRect</key>
                <string>{{276,259},{107,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-piano-pedal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,74}</string>
                <key>spriteSourceSize</key>
                <string>{39,74}</string>
                <key>textureRect</key>
                <string>{{615,251},{39,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-piano-support</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,5}</string>
                <key>spriteSourceSize</key>
                <string>{91,5}</string>
                <key>textureRect</key>
                <string>{{156,295},{91,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-waterbottle-bottomright</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{105,137}</string>
                <key>spriteSourceSize</key>
                <string>{113,149}</string>
                <key>textureRect</key>
                <string>{{543,585},{105,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>actionmovie-waterbottle-left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{131,258}</string>
                <key>textureRect</key>
                <string>{{598,293},{121,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>actionmovie-waterbottle-topright</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{122,174}</string>
                <key>spriteSourceSize</key>
                <string>{128,180}</string>
                <key>textureRect</key>
                <string>{{932,1},{122,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_bottom_rim</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,32}</string>
                <key>spriteSourceSize</key>
                <string>{224,32}</string>
                <key>textureRect</key>
                <string>{{688,561},{216,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate_diagonal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,189}</string>
                <key>spriteSourceSize</key>
                <string>{195,193}</string>
                <key>textureRect</key>
                <string>{{721,370},{191,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate_left_rim</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,232}</string>
                <key>spriteSourceSize</key>
                <string>{42,234}</string>
                <key>textureRect</key>
                <string>{{454,543},{40,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_plank0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,190}</string>
                <key>spriteSourceSize</key>
                <string>{49,190}</string>
                <key>textureRect</key>
                <string>{{914,602},{49,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_plank1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,190}</string>
                <key>spriteSourceSize</key>
                <string>{63,190}</string>
                <key>textureRect</key>
                <string>{{914,474},{63,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_plank2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,190}</string>
                <key>spriteSourceSize</key>
                <string>{61,190}</string>
                <key>textureRect</key>
                <string>{{914,539},{61,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_plank3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,188}</string>
                <key>spriteSourceSize</key>
                <string>{48,190}</string>
                <key>textureRect</key>
                <string>{{914,653},{48,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_right_rim</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,239}</string>
                <key>spriteSourceSize</key>
                <string>{42,239}</string>
                <key>textureRect</key>
                <string>{{691,251},{38,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate_top_rim</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,32}</string>
                <key>spriteSourceSize</key>
                <string>{228,32}</string>
                <key>textureRect</key>
                <string>{{385,259},{228,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oil-barrel_bottom</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,258}</string>
                <key>spriteSourceSize</key>
                <string>{240,260}</string>
                <key>textureRect</key>
                <string>{{309,590},{232,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oil-barrel_top</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,136}</string>
                <key>spriteSourceSize</key>
                <string>{240,140}</string>
                <key>textureRect</key>
                <string>{{194,882},{232,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>propane_truck_cabin</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,128}</string>
                <key>spriteSourceSize</key>
                <string>{191,128}</string>
                <key>textureRect</key>
                <string>{{1,890},{191,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>propane_truck_tank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,156}</string>
                <key>spriteSourceSize</key>
                <string>{286,156}</string>
                <key>textureRect</key>
                <string>{{1,602},{286,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tnt_barrel_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,256}</string>
                <key>spriteSourceSize</key>
                <string>{134,268}</string>
                <key>textureRect</key>
                <string>{{276,1},{130,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tnt_barrel_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{153,301}</string>
                <key>spriteSourceSize</key>
                <string>{155,305}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truck_tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{660,809},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_truck_cabin</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,133}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{929,339},{150,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_truck_tank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,166}</string>
                <key>spriteSourceSize</key>
                <string>{296,166}</string>
                <key>textureRect</key>
                <string>{{1,304},{296,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actionhero.png</string>
            <key>size</key>
            <string>{1107,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e19b4fbb784131fd36f4be9ea8896f:8f3e1b04dffecd60ac106b1b33001d1b:2f376c9f8ed34b72a6173b28e38fc4e5$</string>
            <key>textureFileName</key>
            <string>actionhero.png</string>
        </dict>
    </dict>
</plist>
