<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bog-rock</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{496,279}</string>
                <key>spriteSourceSize</key>
                <string>{512,281}</string>
                <key>textureRect</key>
                <string>{{1,455},{496,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-day-duckboard1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,29}</string>
                <key>spriteSourceSize</key>
                <string>{311,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{311,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-day-duckboard2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{289,29}</string>
                <key>spriteSourceSize</key>
                <string>{311,29}</string>
                <key>textureRect</key>
                <string>{{1,32},{289,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-day-float</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,29}</string>
                <key>spriteSourceSize</key>
                <string>{256,29}</string>
                <key>textureRect</key>
                <string>{{1,63},{256,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-day-float-guardrail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,56}</string>
                <key>spriteSourceSize</key>
                <string>{256,56}</string>
                <key>textureRect</key>
                <string>{{259,63},{226,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-night-duckboard1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,29}</string>
                <key>spriteSourceSize</key>
                <string>{311,29}</string>
                <key>textureRect</key>
                <string>{{1,125},{311,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-night-duckboard2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{289,29}</string>
                <key>spriteSourceSize</key>
                <string>{311,29}</string>
                <key>textureRect</key>
                <string>{{1,156},{289,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-night-float</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,29}</string>
                <key>spriteSourceSize</key>
                <string>{256,29}</string>
                <key>textureRect</key>
                <string>{{1,94},{256,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-night-float-guardrail</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{226,56}</string>
                <key>spriteSourceSize</key>
                <string>{256,56}</string>
                <key>textureRect</key>
                <string>{{1,187},{226,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bogland-treasurechest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{240,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,204}</string>
                <key>textureRect</key>
                <string>{{1,245},{240,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mosquito-body</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,190}</string>
                <key>textureRect</key>
                <string>{{243,263},{254,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mosquito-wings</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{140,186}</string>
                <key>spriteSourceSize</key>
                <string>{170,186}</string>
                <key>textureRect</key>
                <string>{{314,121},{140,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bogland.png</string>
            <key>size</key>
            <string>{501,735}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa55eea8a89fc09a4b781edff607dc2:5523629e5c0063a61a73352cf01bd4ef:158753744c0aba374d91115f9ad2507e$</string>
            <key>textureFileName</key>
            <string>bogland.png</string>
        </dict>
    </dict>
</plist>
