<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bike-driver-leg-full-vampire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{103,93}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{0,400},{103,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-cockpit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,101}</string>
                <key>spriteSourceSize</key>
                <string>{135,101}</string>
                <key>textureRect</key>
                <string>{{205,280},{135,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-frontpiece.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{66,42}</string>
                <key>textureRect</key>
                <string>{{259,417},{66,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,57}</string>
                <key>spriteSourceSize</key>
                <string>{25,57}</string>
                <key>textureRect</key>
                <string>{{105,479},{25,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,66}</string>
                <key>spriteSourceSize</key>
                <string>{29,66}</string>
                <key>textureRect</key>
                <string>{{308,280},{29,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-chassis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,178}</string>
                <key>spriteSourceSize</key>
                <string>{511,178}</string>
                <key>textureRect</key>
                <string>{{0,0},{511,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-frontdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,203}</string>
                <key>spriteSourceSize</key>
                <string>{118,203}</string>
                <key>textureRect</key>
                <string>{{0,280},{118,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-hippievan-qstock-leftdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,213}</string>
                <key>spriteSourceSize</key>
                <string>{72,213}</string>
                <key>textureRect</key>
                <string>{{421,180},{72,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-rightdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,213}</string>
                <key>spriteSourceSize</key>
                <string>{74,213}</string>
                <key>textureRect</key>
                <string>{{345,180},{74,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-qstock-roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,98}</string>
                <key>spriteSourceSize</key>
                <string>{343,98}</string>
                <key>textureRect</key>
                <string>{{0,180},{343,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-tire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{105,400},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-tire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{308,395},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hippievan-tire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{184,417},{71,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>driver-leg-full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{387,395},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>car-hippievan-qstock.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b9c779aaccbe9ff6dfbeb3024bbd81:f50c45c57783b6abea7091ab7b2eb1c3:384ce62c6ea4cdd34d684eefa596b6c2$</string>
            <key>textureFileName</key>
            <string>car-hippievan-qstock.png</string>
        </dict>
    </dict>
</plist>
