<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car-icon-4x4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-ambulance.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-bigfinger.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,1},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-bubblecar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1543,1},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-icon-chopper-bike.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,259},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-dragster.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,259},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-dunebuggy.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,259},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-electric.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,517},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-fastcar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,517},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-firetruck.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,517},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-garage.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1543,515},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-icon-hcr2-1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,775},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-hippievan-qstock.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,775},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-hippievan.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,775},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-hotrod.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1033},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-hovercraft.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,1033},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-jeep.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,1033},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-lowrider.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-icon-luxury.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1291},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-minibike.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,1291},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-monster.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,1291},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-moonlander.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1549},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-motocross-bike.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,1549},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-icon-onewheeler.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,1549},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>car-icons-0.jpg</string>
            <key>size</key>
            <string>{1800,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efca57a4e7da6bdf74a80de17847be33:2f36e3c8066cfb0e7478ef10d4c5841a:c197b544c44c0728bdc5c4ec9b536c22$</string>
            <key>textureFileName</key>
            <string>car-icons-0.jpg</string>
        </dict>
    </dict>
</plist>
