<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,26},{40,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,12}}</string>
                <key>sourceSize</key>
                <string>{40,12}</string>
            </dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,40},{34,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,15}}</string>
                <key>sourceSize</key>
                <string>{34,15}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,427},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,434},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>bat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>bat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,434},{43,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,19}}</string>
                <key>sourceSize</key>
                <string>{43,19}</string>
            </dict>
            <key>bat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,270},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>haunted-bridge.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,294},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>haunted-house.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,290}}</string>
                <key>sourceSize</key>
                <string>{256,290}</string>
            </dict>
            <key>haunted-mist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{160,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,34}}</string>
                <key>sourceSize</key>
                <string>{160,34}</string>
            </dict>
            <key>haunted-pumpkin-lowres.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,164},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>haunted-pumpkin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>haunted-pumpkin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,455},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>haunted-pumpkin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,426},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>haunted-pumpkin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,336},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>haunted-pumpkin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{118,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{118,48}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>haunted-tree-branch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,427},{113,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,80}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>haunted-tree-branch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,52},{112,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,117}}</string>
                <key>sourceSize</key>
                <string>{112,117}</string>
            </dict>
            <key>haunted-tree-branch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,294},{131,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,90}}</string>
                <key>sourceSize</key>
                <string>{131,90}</string>
            </dict>
            <key>haunted-tree-branch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,166},{102,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,116}</string>
            </dict>
            <key>haunted-tree-root.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,294},{138,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,56}}</string>
                <key>sourceSize</key>
                <string>{138,56}</string>
            </dict>
            <key>haunted-tree0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,424},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,113}</string>
            </dict>
            <key>haunted-tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,336},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>haunted-tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{79,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,94}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>tombstone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,294},{116,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tombstone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,98},{64,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,124}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>tombstone3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,270},{104,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haunted.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74cebd65506201b33147b0d763eab2b6:00cad9dc2ab1da1e9edc375c9276f227:6a3a17719dec719a4038cd4ea9d1da98$</string>
            <key>textureFileName</key>
            <string>haunted.png</string>
        </dict>
    </dict>
</plist>
