<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{14,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,68}}</string>
                <key>sourceSize</key>
                <string>{16,68}</string>
            </dict>
            <key>skeleton-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{58,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>skeleton-foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,167},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>skeleton-hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,98}}</string>
                <key>sourceSize</key>
                <string>{26,98}</string>
            </dict>
            <key>skeleton-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{71,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,86}}</string>
                <key>sourceSize</key>
                <string>{71,86}</string>
            </dict>
            <key>skeleton-leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,86},{26,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,79}}</string>
                <key>sourceSize</key>
                <string>{26,79}</string>
            </dict>
            <key>skeleton-leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{22,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,82}}</string>
                <key>sourceSize</key>
                <string>{22,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skeleton.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b6bac1585ca85371566605b7d66e17:6d8e7152ba28a68598a07d64fa94bb7a:6ceda2bc31d2ae8054658f664aa8f631$</string>
            <key>textureFileName</key>
            <string>skeleton.png</string>
        </dict>
    </dict>
</plist>
