<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-circle-actionhero</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-alienplanet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-arctic</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{247,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-arctic-cave</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{165,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-arena</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{329,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-beach</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{411,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-bogland</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{493,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-bootcamp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{575,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-cave</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{657,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-cliffs</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{739,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-construction</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{821,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-countryside</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{903,1},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-daily</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{985,1},{80,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage-circle-desert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{1,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-factory</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{83,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-forest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{165,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-haunted</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{247,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-highway</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{329,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-jungle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{411,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-junkyard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{493,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-lockeddoor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{575,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-mars</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{657,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-moon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{739,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-mud</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{821,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-neon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{903,80},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{985,83},{80,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage-circle-northpole</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{1,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-nuclear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{83,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-planets</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{165,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-prog</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{247,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-ragnarok</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{329,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-rainbow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{411,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-rollercoaster</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{493,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-rooftops</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{575,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-seasons</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{657,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-suburbs</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{739,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-volcano</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{821,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-circle-xmas</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{903,159},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage-circles.png</string>
            <key>size</key>
            <string>{1063,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21feb067109e9a74b3a8e639ab7d1550:00d5d1862fd57593a9abc87f39da986f:a0b9a2c3b28e85b83b2071d6b3270c16$</string>
            <key>textureFileName</key>
            <string>stage-circles.png</string>
        </dict>
    </dict>
</plist>
