<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-icon-night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-northpole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-nuclear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,1},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-planets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1543,1},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage-icon-prog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,259},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-ragnarok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,259},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,259},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-rollercoaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,517},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-rooftops.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,517},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-seasons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,517},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-sport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1543,515},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stage-icon-suburbs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,775},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-volcano.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{515,775},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage-icon-xmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1029,775},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage-icons-1.jpg</string>
            <key>size</key>
            <string>{1800,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80a553a32406353cb964a5eafceacf6f:a1de54c97a4a20a39913f2e59e227f09:0b865303feccdfef4368e2cbae5ae38c$</string>
            <key>textureFileName</key>
            <string>stage-icons-1.jpg</string>
        </dict>
    </dict>
</plist>
