<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Car</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{254,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{419,1},{254,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car-skin-1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{254,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{203,1},{254,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car-skin-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{254,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{311,1},{254,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1757,290},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bike-chopper-forktop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,75}</string>
                <key>spriteSourceSize</key>
                <string>{103,75}</string>
                <key>textureRect</key>
                <string>{{692,389},{103,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bike-chopper-tire_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{171,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bike-chopper-tire_front</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{303,259},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bike-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1725,358},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-ambulance-frontdoor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{64,94}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1385,133},{64,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-ambulance-middledoor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,122}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1757,85},{64,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-ambulance-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1725,426},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-bubble-tire-back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1793,358},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-bubble-tire-front</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{435,259},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-dragster-front-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1793,426},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-dragster-wing</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{567,257},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-dune-buggy-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{699,257},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-electric-engine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{831,257},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-electric-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{963,257},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-firetruck-cage</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1491,223},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-firetruck-fender</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1577,355},{128,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-firetruck-hose-part1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1453,133},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-firetruck-hose-part3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{256,68}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-firetruck-light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1101,133},{118,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-firetruck-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1095,255},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hachiroku-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1717,153},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-hotrod-roof-broken</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-11}</string>
                <key>spriteSize</key>
                <string>{116,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1261,387},{116,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-lowrider-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1101,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-monster</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{250,94}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1003,1},{250,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-monster-skin-1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{250,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{875,389},{250,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-monster-skin-2-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1233,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-monster-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1227,255},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-monster-tire-hd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1227,255},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-monster-tire_HD</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1227,255},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-moonlander-front1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{110,128}</string>
                <key>textureRect</key>
                <string>{{171,393},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-moonlander-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1365,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-pickup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{252,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{837,1},{252,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-police-light</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{118,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1177,133},{118,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-policecar-frontdoor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1129,387},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-policecar-reardoor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{363,391},{104,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-policecar-roof</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{256,56}</string>
                <key>spriteSourceSize</key>
                <string>{256,64}</string>
                <key>textureRect</key>
                <string>{{143,1},{256,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-policecar-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1359,231},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-racecar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{230,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{87,261},{230,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-racecar-skin-1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{232,82}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,261},{232,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-rallycar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{252,100}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{733,1},{252,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-rallycar-skin-1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{252,100}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{525,1},{252,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-rallycar-skin-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{252,100}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{629,1},{252,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-screwfinger-exhaust</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1585,133},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-shapeshifter-rim</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{771,389},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-shapeshifter-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1497,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-shapeshifter_front</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,74}</string>
                <key>spriteSourceSize</key>
                <string>{121,74}</string>
                <key>textureRect</key>
                <string>{{1647,351},{121,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-shapeshifter_rear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{621,389},{114,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-superoffroad-wing</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1629,1},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-tank-fg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,31}</string>
                <key>spriteSize</key>
                <string>{252,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{933,1},{252,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-tank-skin-1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{256,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{73,1},{256,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car-tank-tire</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1445,363},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car-tractor-steering-wheel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1357,387},{116,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hovercraft_engine</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{128,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1253,133},{128,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>passenger-bikini_arm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{119,64}</string>
                <key>spriteSourceSize</key>
                <string>{121,64}</string>
                <key>textureRect</key>
                <string>{{1757,222},{119,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>passenger-bikini_torso</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{68,128}</string>
                <key>textureRect</key>
                <string>{{1689,223},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>passenger-shades_arm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{111,56}</string>
                <key>spriteSourceSize</key>
                <string>{121,64}</string>
                <key>textureRect</key>
                <string>{{303,391},{111,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>passenger-shades_head</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{104,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{495,391},{104,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>passenger-shades_torso</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{68,128}</string>
                <key>textureRect</key>
                <string>{{1621,223},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>passenger_leg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{80,122}</string>
                <key>spriteSourceSize</key>
                <string>{84,128}</string>
                <key>textureRect</key>
                <string>{{1757,1},{80,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tublimo-moneybag</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{1786,153},{64,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vehicles-1.png</string>
            <key>size</key>
            <string>{1880,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b5e82be1bc5c584094bfa94802dc1d:b28b6a3f719923ee99a793aaf7843259:4d743c31df5fb11cd9b18c7acb1fb586$</string>
            <key>textureFileName</key>
            <string>vehicles-1.png</string>
        </dict>
    </dict>
</plist>
